# npm 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 前端依赖包
node_modules

# 打包静态文件
dist
dist-ssr
*.local

# 编辑器/IDE缓存文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 前端环境变量（前端一般无密钥，可加可不加）
.env.*
!.env.example